html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin: 0px;
    padding: 0px;
	font-style: normal;
	font-variant: normal;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
a {
    text-decoration: none;
}
.clearfix:after {
   display: block;
   visibility: hidden;
   clear: both;
   height: 0;
   content: " ";
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 940px;
}
.container .box {
    float: left;
    padding: 0 10px;
}
.container .box:first-child {
    padding-left: 0;
}
.container .box:last-child {
    padding-right: 0;
}
.container .box.one_third {
    width: 300px;
}
.container .box.two_third {
    width: 620px;
}
.title {
    margin: 20px 0;
    color: #34495e;
    text-align: center;
    font-size: 30px;
}
.content {
    margin: 0 auto;
    width: 440px;
    text-align: center;
    line-height: 30px;
}
.big_icon {
    display: block;
    background: url("img/advantages_sprite.png") no-repeat;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-indent: 9999px;
    float: left;
}
.big_icon.present {
    background-position: 0 -100px;
}
.big_icon.clock {
    background-position: 0 -200px;
}
.content_wrapper {
    margin-left: 160px;
    display: block;
}
#try {
    height: 115px;
    min-width: 970px;
    background: #fef9e7;
}
#try .title {
    display: inline-block;
    font-size: 24px;
    color: #34495e;
    padding: 30px 85px 0 300px;
}
#try a {
    display: inline-block;
    text-decoration: none;
    background: #e74c3c;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
}
#promo {
    margin: 160px 0 70px;
}
#promo .title {
    margin: 0 0 70px;
}
#promo .left_content {
    padding: 140px 0 0;
}
#promo .left_content p {
    padding: 0 80px 0 0;
    color: #7f8c8d;
    text-align: left;
    font-size: 22px;
    line-height: 32px;
}
#promo .right_content {
    padding: 100px 0 0;
}
#promo .thesis {
    margin: 0 0 56px 80px;
}
#promo .thesis .title {
    margin: 0 0 14px;
    color: #e74c3c;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
}
#promo .thesis p {
    color: #95a5a6;
    font-size: 14px;
    line-height: 18px;
}
#navigation {
    min-width: 970px;
    background: #1b1f23;
    text-transform: uppercase;
}
#navigation ul {
    float: right;
}
#navigation ul li {
    float: left;
    margin: 28px 0 28px 20px;
    color: #919497;
    font-size: 12px;
}
#navigation ul li a {
    color: #919497;
}
#navigation ul li a:hover {
    color: #acacac;
}
#logo {
    float: left;
    margin: 26px 0;
    color: #fff;
    font-size: 16px;
}
#logo span {
    color: #919497;
    font-size: 16px;
}
#components {
    margin: 111px;
    text-align: center;
}
#components img{
    margin: 0 0 64px;
}
#components p {
    margin-bottom: 27px;
    color: #95a5a6;
    text-align: center;
    font-size: 18px;
}
#components a {
    display: inline-block;
    padding: 0 15px;
    border: 2px #e74c3c solid;
    border-radius: 6px;
    color: #e74c3c;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
#advantages p {
    font-size: 18px;
    color: #7f8c8d;
    width: 420px;
    line-height: 30px;
    text-align: left;
}
#advantages .title {
    width: 400px;
    text-align: left;
    color: #2c3e50;
    line-height: 40px;
}
#advantages ul {
    margin: 0 165px 0 0;
}
#advantages ul li {
    border-bottom: 2px #ecf0f1 solid;
}
#advantages ul li:last-child {
    padding-bottom: 45px;
    border: none;
}
#advantages ul li .title {
    display: block;
    margin: 0 0 10px;
}
#advantages ul li .content {
    color: #7f8c8d;
}
#advantages .big_icon {
    margin-top: 20px;
}
#advantages ul li a {
    display: block;
    overflow: hidden;
    padding: 45px 0 43px;
}
#advantages ul li a:hover {
    background: #eee;
}

#advantages ul li a:hover .big_icon {
    margin-left: 20px;
}
#try {
    height: 115px;
    min-width: 970px;
    background: #fef9e7;
    margin-bottom: 30px;
}
#try .title {
    display: inline-block;
    font-size: 24px;
    color: #34495e;
    padding: 30px 85px 0 300px;
}
#try a {
    display: inline-block;
    text-decoration: none;
    background: #e74c3c;
    color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
}
#mail {
    background: #1abc9c;
    min-width: 970px;
    height: 130px;
}
#mail .title {
    font-size: 50px;
    color: #fff;
    display: inline-block;
    margin: 45px 370px 0 130px;
}
#mail a {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    background: #16a085;
    border-radius: 10px;
    padding: 20px 50px;
}