html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin: 0px;
    padding: 0px;
	font-style: normal;
	font-variant: normal;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
a {
    text-decoration: none;
}
.clearfix:after {
   display: block;
   visibility: hidden;
   clear: both;
   height: 0;
   content: " ";
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 940px;
}
.container .box {
    float: left;
    padding: 0 10px;
}
.container .box:first-child {
    padding-left: 0;
}
.container .box:last-child {
    padding-right: 0;
}
.container .box.one_third {
    width: 300px;
}
.container .box.two_third {
    width: 620px;
}
.title {
    margin: 20px 0;
    color: #34495e;
    text-align: center;
    font-size: 30px;
}
.content {
    margin: 0 auto;
    width: 440px;
    text-align: center;
    line-height: 30px;
}
.big_icon {
    display: block;
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background: url("img/advantages_sprite.png") no-repeat;
    text-indent: 9999px;
}
.big_icon.present {
    background-position: 0 -100px;
}
.big_icon.clock {
    background-position: 0 -200px;
}
.content_wrapper {
    display: block;
    margin-left: 160px;
}
.nature_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
#try {
    min-width: 970px;
    height: 115px;
    background: #fef9e7;
}
#try .title {
    display: inline-block;
    padding: 30px 85px 0 300px;
    color: #34495e;
    font-size: 24px;
}
#try a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 6px;
    background: #e74c3c;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
#promo {
    margin: 160px 0 70px;
}
#promo .title {
    margin: 0 0 70px;
}
#promo .left_content {
    padding: 140px 0 0;
}
#promo .left_content p {
    padding: 0 80px 0 0;
    color: #7f8c8d;
    text-align: left;
    font-size: 22px;
    line-height: 32px;
}
#promo .right_content {
    padding: 100px 0 0;
}
#promo .thesis {
    margin: 0 0 56px 80px;
}
#promo .thesis .title {
    margin: 0 0 14px;
    color: #e74c3c;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
}
#promo .thesis p {
    color: #95a5a6;
    font-size: 14px;
    line-height: 18px;
}
#navigation {
    min-width: 970px;
    background: #1b1f23;
    text-transform: uppercase;
}
#navigation ul {
    float: right;
}
#navigation ul li {
    float: left;
    margin: 28px 0 28px 20px;
    color: #919497;
    font-size: 12px;
}
#navigation ul li a {
    color: #919497;
}
#navigation ul li a:hover {
    color: #acacac;
}
#logo {
    float: left;
    margin: 26px 0;
    color: #fff;
    font-size: 16px;
}
#logo span {
    color: #919497;
    font-size: 16px;
}
#components {
    margin: 111px;
    text-align: center;
}
#components img{
    margin: 0 0 64px;
}
#components p {
    margin-bottom: 27px;
    color: #95a5a6;
    text-align: center;
    font-size: 18px;
}
#components a {
    display: inline-block;
    padding: 0 15px;
    border: 2px #e74c3c solid;
    border-radius: 6px;
    color: #e74c3c;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
#advantages p {
    width: 420px;
    color: #7f8c8d;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}
#advantages .title {
    width: 400px;
    color: #2c3e50;
    text-align: left;
    line-height: 40px;
}
#advantages ul {
    margin: 0 165px 0 0;
}
#advantages ul li {
    border-bottom: 2px #ecf0f1 solid;
}
#advantages ul li:last-child {
    padding-bottom: 45px;
    border: none;
}
#advantages ul li .title {
    display: block;
    margin: 0 0 10px;
}
#advantages ul li .content {
    color: #7f8c8d;
}
#advantages .big_icon {
    margin-top: 20px;
}
#advantages ul li a {
    display: block;
    overflow: hidden;
    padding: 45px 0 43px;
}
#advantages ul li a:hover {
    background: #eee;
}

#advantages ul li a:hover .big_icon {
    margin-left: 20px;
}
#try {
    margin-bottom: 30px;
    min-width: 970px;
    height: 115px;
    background: #fef9e7;
}
#try .container {
    padding: 0 0 10px;
    width: auto;
}
#try .title {
    display: inline-block;
    color: #34495e;
    font-size: 24px;
}
#try a {
    display: inline-block;
    float: right;
    margin: 40px 350px 0 0;
    padding: 10px 15px;
    border-radius: 8px;
    background: #e74c3c;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
#mail {
    min-width: 970px;
    height: 130px;
    background: #1abc9c;
    margin: 0 0 30px;
}
#mail .container {
    padding: 25px 0 10px;
    width: auto;
}
#mail .container input {
    float: left;
    margin: 18px 0 0 130px;

    width: 550px;
    height: 55px;
    outline: none;
    border: none;
    background: #1abc9c;
    color: #fff;
    font-size: 50px;
}
#mail .container a {
    display: block;
    float: right;
    margin: 22px 130px 0 0;
    padding: 14px 49px;
    border-radius: 10px;
    background: #16a085;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
::-webkit-input-placeholder {
  color: white;
}
#mail .container input:focus::-webkit-input-placeholder {
  color: #23ccab;
}
#nature {
    margin: 0 0 30px;
    height: 800px;
    position: relative;
    overflow: hidden;
}
#nature .container {
    position: relative;
}
#nature p {
    font-size: 46px;
    color: #ffffff;
    border: 8px solid #fff;
    margin: 385px auto 0;
    width: 360px;
    padding: 35px 35px;
}
#nature a{
    display: block;
    background: url("/img/arrow.png");
    width: 54px;
    height: 54px;
    margin: 180px auto 0px;
}
#footer {
    padding: 0 0 50px;
    background: #f2f3f4;
}
#footer img {
    margin: 104px 635px 127px;
}
#footer .title {
    color: 1b1f23;
    font-size: 46px;
    margin: 0;
}
#footer p {
    font-size: 20px;
    color: #7e7e7e;
    line-height: 31px;
    width: 460px;
    text-align: center;
    margin: 47px 415px 93px;
}
#footer a {
    text-decoration: underline;
    color: #1b1f23;
    font-size: 22px;
    text-align: center;
}
#phone {
    width: 245px;
    height: 526px;
    background: url("img/iphone.jpg");
    padding: 88px 24px 0;
}
#phone img {
    display: none;
}
#phone .visible {
    display: block;
}

